/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

/*Allowing all divs to take up available height*/
html, body, #root, .App {
    height: 100%;
}

/*Drop In Animation for about page and headers*/
.title, .bio {
    animation: drop-in 1s ease 200ms backwards;
}
 
@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
}


.title {
    font-weight: 700;
}

/*Font*/
.content {
    height: 100%;
    background: linear-gradient(-45deg, #8EC5FC, #E0C3FC);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*About Me*/
.bio {
    font-size: 18px;
}

.picture {
    display: block;
    width: 200px;
    border-radius: 10px;
    margin: auto;
}

/*Portfolio Cards*/
.card-area {
    width: 100%;
}

.card-container {
    gap: 20px;
}

.card {
    width: 400px;
}

.card:hover {
    opacity: 0.7;
    transition: 2s ease-out;
    transform: translateY(-5%);
}

/*Resume Page*/
.skills ul li{
    list-style-type: none;
}
